@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Condensed+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Special Gothic Condensed One", sans-serif;
  height: 100vh;
  background: linear-gradient(-45deg, #fef9f5, #f5e5c8, #e9cba7, #f3ede3);
  background-size: 400% 400%;
  animation: gradientBG 3s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.special-gothic-condensed-one-regular {
  font-family: "Special Gothic Condensed One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@keyframes gradientBG {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
